* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  
  header, nav, main, aside,footer{
   color: white;
    border: 1px solid  #e7cfcd;
    border-radius: 5px;
    padding: 0.5rem;
  }
  
  header { grid-area: hd;
    
   display: flex;
   flex-direction: row;
   justify-content: space-between;
    background-color: #dc768c;
}
  
  nav 
  { 
    grid-area: nv;
    background-color:#948191;
  }
  
  main { grid-area: mn; 
    
    background-color:#be98aa;
}
.img1{
  grid-area: i1;
  display: grid;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 2rem;

}
.imgOfTetris{
  align-self:center;
}
.img2{
  grid-area: i2;
  display: grid;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 2rem;
}
.img3{
  grid-area: i3;
  display: grid;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 2rem;
}
.img4{
  grid-area: i4;
  display: grid;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 2rem;
}

section{
  max-width: 100%;
  background-color:#be98aa;
  grid-area: mn; 
  display:grid;
  align-items: center;
  border-radius: 1em;
  margin-bottom: 2em;
  justify-content: center;
  grid-template-columns: 1fr;
    grid-template-areas:
      "i1"
      "i2"
      "i3"
      "i4";
    gap: 0.75rem;
    
}

.img{
  max-width: 100%; 
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}
#img{
  
    object-fit: cover;
}
  
  .sidebar
   {
      grid-area: sd; 
      background-color:#948191;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    aside a{
      text-decoration: none;
      color:white;
    }
  
  .form 
  {
     grid-area: ad;
     background-color:#948191;
     display: flex;
     justify-content: center;
     align-items: center;
    }
  
  footer
  { 
    grid-area: ft ;
    background-color:#9e687e;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    
   
  }
  nav li {
    text-align: center;
  }
  nav li a{
    color: white;
    text-decoration: none;
  }
  
  h2, p { margin: 1rem 0; }
  
  
  .wrapper {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "hd"
      "nv"
      "mn"
      "sd"
      "ad"
      "ft";
    gap: 0.75rem;
  }
  
  @media only screen and (min-width: 300px){
    section{
      
      grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "i1 i2"
          "i3 i4";
          
        gap: 0.75rem;
    }
    .wrapper {
      grid-template-columns: 1fr 3fr;
      grid-template-areas:
        "hd hd"
        "nv nv"
        "sd mn"
        "ad ft";
    }
    
   nav ul {
     flex-direction: row;
     justify-content: space-between;
    }
    
   
  }
  
  @media only screen and (min-width: 600px){
    section{  
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "i1 i2 i3 i4";
      
    gap: 0.75rem;
    }
    .wrapper {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas:
        "hd hd hd"
        "nv mn sd"
        "nv mn ad"
        "ft ft ft";
    }
    
   nav ul {
     flex-direction: column;
    }
    
    
  }